.banner {
    width: 100%;
    height: 468px;
    margin: 19px auto 0 auto;
    /* background-color: #F4F4F4; */
    /* overflow: hidden; */
}

.main {
    width: 1190px;
    height: 458px;
    margin: 0px auto;
    /* background-color: #F4F4F4; */
}

.bx {
    width: 1190px;
    height: 468px;
    margin: 0 auto;
    overflow: hidden;
}


.middle-left {
    width: 220px;
    height: 458px;
    border: 1px solid #bcb9b9;
}

.middle-left ul {
    margin: 10px auto;
}

.middle-left ul li {
    text-align: center;
    width: 220px;
    /* margin-left: 55px; */
    margin-bottom: 10px;
    height: 40px;
    /* border-bottom: 1px solid rgb(166, 166, 168); */
    /* background-color: #DD302D; */
}
.middle-left ul li:hover {
    /* background-color: #dfe4e8; */
    background-color: #d1d9e6;
}
.middle-left ul li a {
    font-family: PingFangSC-Medium;
    /* font-size: 14px; */
    color: black;
    letter-spacing: 0;
    line-height: 40px;
    font-weight: 500;
}

/* .middle-left ul li a:hover {
    color: #4B70E2;
} */

.middle-center {
    position: relative;
    width: 760px;
    height: 477px;
    margin-left: 10px;
}
.middle-center{
    margin:0 auto;
}
.upper {
    left: 0;
    border-radius: 0 18px 18px 0;
    line-height: 30px;
    color: #D9D9D9;
    text-decoration: none;
    font-size: 24px;
}


.drop {
    right: 0;
    border-radius: 18px 0 0 18px;
    line-height: 30px;
    color: #D9D9D9;
    text-align: right;
    text-decoration: none;
    font-size: 24px;
}

.upper,
.drop {
    position: absolute;
    width: 25px;
    height: 35px;
    top: 50%;
    margin-top: -20px;
    background-color: rgba(0, 0, 0, 0.55);
}

.btn {
    position: absolute;
    width: 113px;
    height: 15px;
    left: 340px;
    bottom: 20px;
}

.btn li {
    display: inline-block;
    float: left;
    width: 10px;
    height: 10px;
    border: 1px solid rgba(0, 0, 0, .05);
    margin-right: 7px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 4);
    vertical-align: bottom;
}

.btn .active {
    position: relative;
    width: 12px;
    height: 12px;
    border: 3px solid #6080e2;
    background-color: #4B70E2;
}

.progress-container {
    background-color: #7390e7; 
    margin: auto;
    width: 70%;
    height: 2px;
    left: 15%;
    margin-top:5%;
    position: absolute; 
    transform: translateY(-50%);
    overflow: hidden;
}

.progress-bar {
    height: 100%;
    background-color: #fbfbfb;
    width: 0;
    transition: width 0.5s;
}


.middle-right {
    float: left;
    margin-left: 10px;
    width: 200px;
    height: 458px;
    border: 1px solid #bcb9b9;

}

.middle-right-top {
    /* border: 1px solid #D9D9D9; */
    width: 205px;
    height: 30px;
}

.tp {
    width: 190px;
    height: 60px;
    margin: 0 auto;
    /* background-color: #333333; */
}

#tx {
    float: left;
    border-radius: 100% 100% 100% 100%;
    width: 60px;
    height: 60px;
    margin-left: 20px;
    margin-top: 10px;
    /* background-color: #666666; */

}

.middle-right-top a {
    font-family: SimSun;
    line-height: 16px;
    font-size: 15px;
    color: black;
}

.ep {
    display: inline-block;
    margin-left: 10px;
}

#ts {
    float: right;
    width: 100px;
    height: 60px;
    margin-right: 10px;
    margin-top: 10px;
}

.ct {
    width: 190px;
    height: 30px;
    margin: 0 auto;
}

.cl {
    float: left;
    width: 95px;
    height: 30px;
    background-color: red;
    text-align: center;
    border-radius: 5px 5px 5px 5px;
}

.cr {
    float: right;
    width: 95px;
    height: 30px;
    background-color: red;
    text-align: center;
    border-radius: 7px 7px 7px 7px;
}

.ct a {
    font-family: Microsoft YaHei;
    line-height: 30px;
    font-size: 14px;
    color: white;
}

.bot {
    width: 190px;
    margin: 15px auto;
    height: 40px;
    border-bottom: 1px solid #646363;
}

.bl,
.br {
    float: left;
    width: 50px;
    height: 40px;
    text-align: center;
    /* margin-left: 10px; */
}

.bl {
    background-color: #ECECEC;
}

.br {
    margin-left: 10px;
}

.cul {
    font-family: Microsoft YaHei;
    font-size: 14px;
    margin-left: 10px;
    margin-bottom: 10px;
    color: #DD302D;
}

.bot a {
    font-family: Microsoft YaHei;
    line-height: 40px;
    font-size: 15px;
}



.middle-right-bottom {
    width: 190px;
    height: 228px;
    margin: 0 auto;
    /* border: 1px solid #F4F4F4; */
}

.pictrue-container {
    float: left;
    width: 40px;
    height: 60px;
    margin-top: 11px;
    margin-left: 7px;
    /* background-color: #483E3E; */
}

.pictrue-container1 {
    float: left;
    width: 40px;
    height: 60px;
    margin-top: 11px;
    margin-left: 4px;
    margin-right: 2px;
    /* background-color: #483E3E; */
}

.pictrue-container2 {
    float: left;
    width: 36px;
    height: 60px;
    margin-top: 11px;
    margin-left: 10px;
    /* background-color: #483E3E; */
}

#p11,
#p12,
#p13,
#p14,
#p21,
#p22,
#p23,
#p24,
#p31,
#p32,
#p33,
#p34 {
    width: 40px;
    height: 40px;
    margin: 0 auto;
    /* background-color: #DD302D; */
}

.p-exp,
.p1-exp {
    margin: 0 auto;
    width: 40px;
    height: 25px;
    /* background-color: #333333; */
    text-align: center;
}


.pictrue-container a,
.pictrue-container1 a,
.pictrue-container2 a {
    font-family: Microsoft YaHei;
    font-size: 15px;
    color: #000000;
    letter-spacing: 0;
    line-height: 22px;
    font-weight: 500;
}

.middle-bottom {
    width: 1190px;
    height: 320px;
    margin: 0 auto;
    /* background-color: black; */
    overflow: hidden;
}

.middle-bottom-1 {
    width: 1190px;
    height: 50px;
    margin: 8px auto 0 auto;
    background-color: #DD302D;
}

.m-con {
    position: relative;
    width: 100%;
    height: 320px;
    /* background-color: #333333; */
}

.ck {
    float: left;
    width: 40px;
    height: 50px;
    margin: 10px 0 0 10px;
}

.m1 {
    float: left;
    width: 90px;
    height: 50px;
    text-align: center;
    font-family: Microsoft YaHei;
    line-height: 50px;
    color: #FFFFFF;
    font-size: 18px;
}

.imp {
    float: left;
    width: 120px;
    height: 50px;
    margin-left: 400px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 50px;
    color: #FFFFFF;
    font-size: 19px;
}

.at {
    float: right;
    width: 140px;
    height: 50px;
    text-align: center;
    font-family: Microsoft YaHei;
    line-height: 50px;
    color: #FFFFFF;
    font-size: 12px;
    margin-right: 10px;
}

.middle-bottom-2,
.md {
    margin: 0px auto;
    width: 1190px;
    height: 250px;
    background-color: #FFFFFF;
}
ul {
    list-style: none;
}
 a{
     text-decoration: none;
 }
 .about{
    width:100%;
    height:100%;
 }
 .container{
    width:100%;
    padding-right:15px;
    padding-left:15px;
    margin-right:auto;
    margin-left:auto
}
@media(min-width:576px){
    .container{
        max-width:540px
    }
}
@media(min-width:768px){
    .container{
        max-width:720px
    }
}@media(min-width:992px){
    .container{
        max-width:960px
    }
}@media(min-width:1200px){
    .container{max-width:1140px
    }
}